KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", 
ENV{XAUTHORITY}="/home/nanounanue/.Xauthority", RUN+="/bin/bash /home/nanounanue/bin/monitor-hotplug.sh" 
