[Unit]
Description=Emacs: the extensibe, self-documenting editor
Documentation=man:emacs(1) info:Emacs

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --daemon
ExecStop=/usr/local/bin/emacsclient --eval "(progn (setq kill-emacs-hook nil) (kill-emacs))"
Restart=on-failure
Environment=Display=:%i
TimeoutStartSec=0

[Install]
WantedBy=default.target

